.venv/
__pycache__/
*/__pycache__/*
*.pyc
.ipynb_checkpoints/
ha_config/.storage/
ha_config/.cloud/
ha_config/.cache/
ha_config/backups/
ha_config/deps/
ha_config/tts/
ha_config/secrets.yaml
ha_config/*.log*
ha_config/*.db*
ha_config/.ha_run.lock
ha_config/-
ha_config/www/community/
ha_config/custom_components/hacs/